<template name="orderBilling">
<form id="payment-form" class="main">
  <span class="payment-errors"></span>

	<h3>Billing Information</h3>
	<p>We will only charge your card when we have cooked for you.</p>
  <div class="control-group">
    <label class="control-label">Credit Card Number</label>
		<div class="controls">
    	<input type="text" maxlength="20" size="20" data-stripe="number"/>
		</div>
  </div>

  <div class="control-group">
    <label class="control-label">CVC</label>
		<div class="controls">
    	<input type="text" maxlength="4" size="4" data-stripe="cvc"/>
		</div>
  </div>


  <div class="control-group">
    <label class="control-label">Expiration (MM/YYYY)</label>
		<div class="controls">
			<select data-stripe="exp-month">
				<option value="1">01</option>
				<option value="2">02</option>
				<option value="3">03</option>
				<option value="4">04</option>
				<option value="5">05</option>
				<option value="6">06</option>
				<option value="7">07</option>
				<option value="8">08</option>
				<option value="9">09</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
			</select>
			<select data-stripe="exp-year">
				<option value="2014">2014</option>
				<option value="2015">2015</option>
				<option value="2016">2016</option>
				<option value="2017">2017</option>
				<option value="2018">2018</option>
				<option value="2019">2019</option>
				<option value="2020">2020</option>
				<option value="2021">2021</option>
				<option value="2022">2022</option>
				<option value="2023">2023</option>
				<option value="2024">2024</option>
			</select>
		</div>
  </div>
	

	<div class="control-group">
		<div class="controls">
  		<button type="submit" class="btn btn-primary">Next</button>

			<!--input type="submit" value="Next" class="btn btn-primary"/-->
		</div>
	</div>
</form>
</template>